# Large data files
*.csv

# Binary geospatial files
*.shp
*.shx
*.dbf
*.sbn
*.sbx
*.shp.xml
*.CPG
*.prj

# PDFs (presentations / large docs)


# Jupyter checkpoints
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
.venv-*/
venv/
env/
ENV/

# OS files
Thumbs.db
.DS_Store
*.hdf5
# LaTeX build artifacts
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
*.bbl
*.blg
*.toc
.Rproj.user
.Rhistory
.RData
